<footer class="footer mt-auto py-3 bg-secondary text-center text-lg-start text-bg-secondary">
    <div class="container text-center">
        &copy; 2024 Inventory Management System | All rights reserved
    </div>
</footer>