<!-- <header class="header mt-auto py-3 text-bg-dark sticky-top"> -->
<header class="header mt-auto py-3 text-bg-dark fixed-top">
    <div class="container">
        <h1><a href="/" class="text-bg-dark text-decoration-none">Welcome</a></h1>
        <p>
            This is the inventory management system.
            <br>
            <%= msg %>
        </p>
        <a href="/items-add"><button class="btn btn-outline-light">Add Entry</button></a>
    </div>
</header>